 @import "tailwindcss";
 @plugin "daisyui";

 
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-animate {
  animation: fadeInUp 0.2s ease forwards;
}

@keyframes pulseBadge {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

 


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}


/* button */
 
.fancy-btn {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;  
  transition: all 0.35s ease;
}

.fancy-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.45),
    transparent
  );
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.fancy-btn:hover::before {
  transform: translateX(100%);
}

.fancy-btn:hover {
  transform: translateY(-6px);
}

.fancy-btn:active {
  transform: scale(0.95);
}

 
.fancy-red:hover {
  box-shadow: 0 18px 40px rgba(239, 68, 68, 0.45);
}

 
.fancy-outline:hover {
  box-shadow: 0 18px 40px rgba(255, 255, 255, 0.35);
}

